body {
    background: #000 url('../img/bg.jpeg') no-repeat center center fixed;
    background-size: cover;
}
.board {
    width: 400px;
    display: grid;
    grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
}
.black-tile {
    background: #d2c4d14f;
}
.white-tile {
    background: #ffffffc9;
}

.piece {
    cursor: pointer;
}
.fa-arrows-alt-h {
    background: rgba(0,0,0,0.3);
    cursor: se-resize;
    color: #FFF;
}